* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

body {
  font-size: 2rem;
  overflow: hidden;
}

body a {
  text-decoration: none;
  color: inherit;
}

body li {
  list-style: none;
}

.header-section {
  background: url("../../assets/header.jpg") no-repeat;
  background-size: cover;
  height: 90vh;
  padding-top: 3rem !important;
  padding: 0 25%;
}

.header-section .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: #fff;
}

.header-section .nav-icon {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3rem;
}

.header-section .navigation-list {
  display: flex;
  flex-direction: row;
}

.header-section .navigation-list--items {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}

.header-section .navigation-list--items:not(:last-child) {
  margin-right: 2.5rem;
}

.header-section .navigation-list--items:hover {
  color: #ffb344;
}

.header-section .header-content {
  margin-top: 10rem;
  color: #fff;
}

.header-section .header-content--para {
  margin: 3rem 0 5rem 0;
}

.header-section .btn-container {
  display: flex;
  flex-direction: row;
}

.header-section .btns {
  background-color: blue;
  padding: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.header-section .btns:not(:last-child) {
  margin-right: 2rem;
}

.header-section .btns i {
  transition: transform 0.2s;
}

.header-section .btn-yellow {
  background-color: #ffb344;
  border: 0.2rem solid #ff9a01;
  transition: all 0.2s;
}

.header-section .btn-yellow:hover {
  background-color: rgba(255, 179, 68, 0.8);
}

.header-section .btn-yellow:hover i {
  transform: translateX(0.5rem);
}

.header-section .btn-purple {
  background-color: #6d0bc9;
  border: 0.2rem solid #6100bb;
  transition: all 0.2s;
}

.header-section .btn-purple:hover {
  background-color: rgba(109, 11, 201, 0.8);
}

.header-section .btn-purple:hover i {
  transform: translateX(0.5rem);
}
