* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px( 10/16);
	font-family: "Raleway", sans-serif;
}

body {
	font-size: 2rem;

	a {
		text-decoration: none;
		color: inherit;
	}

	li {
		list-style: none;
	}
}
