.header-section {
	background: url("../../assets/header.jpg") no-repeat;
	background-size: cover;
	height: 90vh;
	padding-top: 3rem !important;
	@include super-padding;

	.nav-bar {
		@include flex-row;
		justify-content: space-between;
		align-items: flex-end;
		color: $color-white;
	}

	.nav-icon {
		text-transform: uppercase;
		font-weight: 800;
		font-size: 3rem;
	}

	.navigation-list {
		@include flex-row;

		&--items {
			font-size: 1.5rem;
			font-weight: 700;
			text-transform: uppercase;
			cursor: pointer;
			transition: all 0.2s;

			&:not(:last-child) {
				margin-right: 2.5rem;
			}

			&:hover {
				color: $color-yellow;
			}
		}
	}

	.header-content {
		margin-top: 10rem;
		color: $color-white;

		&--para {
			margin: 3rem 0 5rem 0;
		}
	}
}

.btn-container {
	@include flex-row;
}

.btns {
	background-color: blue;
	padding: 1.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	outline: none;
	border: none;

	&:not(:last-child) {
		margin-right: 2rem;
	}

	i {
		transition: transform 0.2s;
	}
}

.btn-yellow {
	background-color: $color-yellow;
	border: 0.2rem solid #ff9a01;
	transition: all 0.2s;

	&:hover {
		background-color: rgba($color-yellow, 0.8);
	}

	&:hover i {
		transform: translateX(0.5rem);
	}
}

.btn-purple {
	background-color: $color-purple;
	border: 0.2rem solid #6100bb;
	transition: all 0.2s;

	&:hover {
		background-color: rgba($color-purple, 0.8);
	}

	&:hover i {
		transform: translateX(0.5rem);
	}
}

// Welcome Section

.welcome-section {
	background-color: $color-white;
	@include super-padding;
	margin-top: 6rem;

	hr {
		margin-bottom: 4rem;
		height: 0.2rem;
		border: solid rgb(216, 216, 216) 0.1rem;
	}

	&--heading {
		text-align: center;
		margin-bottom: 4rem;
	}

	&--top-content {
		@include flex-row;
		justify-content: space-between;

		.text-part {
			width: 70%;
			font-size: 3rem;
			font-weight: 500;
			color: #666;
		}

		.img-part {
			i {
				font-size: 15rem;
				color: #999;
			}
		}
	}

	.welcome-cards {
		@include flex-row;
		text-align: center;
		margin-top: 8rem;
		justify-content: space-between;
		margin-bottom: 10rem;
	}

	.welcome-card {
		@include flex-column;
		justify-content: center;
		align-items: center;

		&:not(:last-child) {
			margin-right: 4rem;
		}

		.btn-purple {
			color: $color-white !important;
		}
	}

	.welcome-icon {
		background-color: #541b8a;
		height: 4rem;
		width: 4rem;
		padding: 4rem;
		color: $color-white;
		border-radius: 100%;
		@include flex-row;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;

		i {
			font-size: 3.5rem;
		}
	}

	.welcome-heading {
		font-size: 2.2rem;
		color: #541b8a;
		margin-bottom: 2rem;
	}

	.welcome-para {
		font-weight: 600;
		color: #666;
		font-size: 1.8rem;
		line-height: 3rem;
		margin-bottom: 3rem;
	}
}

// End of Welcome section

// Projects-Section
.heading-primary {
	font-size: 4.5rem;
	font-weight: 800;
}

.projects {
	margin: 7rem 0;

	.heading-project {
		text-align: center;
		margin: 3rem 0 5rem 0;
	}
}

.projects-container {
	@include flex-row;
}

.project-card {
	@include flex-column;
	width: 25%;
	align-items: center;
	justify-content: center;

	.project-img {
		width: 100%;
		height: 40rem;
		background-size: cover;
		background-position: center;
	}

	.project-img-1 {
		background: url("../../assets/project-1.jpg") no-repeat;
	}

	.project-img-2 {
		background: url("../../assets/project-2.jpg") no-repeat;
	}

	.project-img-3 {
		background: url("../../assets/project-3.jpg") no-repeat;
	}

	.project-img-4 {
		background: url("../../assets/project-4.jpg") no-repeat;
	}

	.project-desc {
		background-color: #f1eeec;
		padding: 3rem;
		transition: all 0.2s;

		&:hover {
			background-color: $color-yellow;
		}

		&:hover .btn-project {
			background-color: #541b8a;
			color: $color-white;
		}

		.project-heading {
			text-transform: uppercase;
			margin-bottom: 1rem;
		}

		.project-para {
			font-size: 1.5rem;
			font-weight: 500;
			color: #666;
			line-height: 2.5rem;
			margin-bottom: 2rem;
		}

		.btn-project {
			background-color: $color-white;
			font-weight: 600;
			font-size: 1.1rem;
			text-transform: uppercase;
			transition: all 0.2s;
		}
	}
}
// End of Projects Section

// Pricing Section
.pricing {
	@include super-padding;

	.pricing-cards {
		@include flex-row;
		justify-content: space-between;
		align-items: center;
		margin: 7rem 0;
	}

	.pricing-card {
		text-align: center;

		.heading-plan {
			margin-bottom: 2rem;
		}

		.membership-plan {
			color: rgb(187, 187, 187);
			font-size: 2.2rem;
			margin-bottom: 2rem;
		}

		.offering-item {
			margin-bottom: 1rem;
			font-size: 1.5rem;
			font-weight: 600;
		}
	}

	.pricing-card-center {
		border: solid 0.3rem #f1eeec;
		border-top: 0;
		border-bottom: 0;
		padding: 0 6rem;
	}

	.heading-pricing {
		text-align: center;
	}

	.btn-buy {
		background-color: #ffab2d;
		font-weight: 600;
		font-size: 1.1rem;
		text-transform: uppercase;
		transition: all 0.2s;
		margin-top: 2rem;
		padding: 1rem 3rem;

		&:hover {
			background-color: #541b8a;
			color: $color-white;
		}
	}
}
//End of Pricing Section

// Team Section
.team-cards {
	@include super-padding;
	margin-top: 5rem;
	@include flex-row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	.team-card {
		@include flex-column;
		justify-content: center;
		align-items: center;
		margin: 3rem;

		.team-img {
			width: 15rem;
			height: 15rem;
			border-radius: 100%;
			overflow: hidden;

			img {
				width: 150%;
				transform: translateX(-5rem);
				transition: all 0.2s;
			}

			&:hover img {
				transform: tranlateX(5rem) scale(1);
				filter: blur(2px);
			}
		}

		.member-name {
			text-transform: uppercase;
			font-size: 2rem;
			margin: 2rem 0 1rem 0;
		}

		.member-designation {
			font-size: 1.8rem;
			text-transform: capitalize;
			font-weight: 600;
			color: #999;
		}
	}
}
// End of Team Section

// Newsletter Section
.newsletter {
	background: url("../../assets/newsletter.jpg") no-repeat;
	background-size: cover;
	margin-top: 8rem;
	padding: 4rem 0;

	.heading-newsletter {
		color: $color-white;
	}

	.newsletter-form {
		@include flex-row;
		justify-content: center;
		align-items: center;
		margin-top: 4rem;
		margin-bottom: 5rem;
	}

	.email-input {
		outline: none;
		width: 40rem;
		height: 5rem;
		border: none;
		font-size: 2.8rem;
		padding: 1rem;
		color: rgb(165, 165, 165);

		&::placeholder {
			color: rgba(214, 214, 214, 0.479);
		}
	}

	.btn-signup {
		border-radius: 0;
		padding: 1.7rem 2rem;
		background-color: #ffab2d;
		text-transform: uppercase;
		font-weight: 600;
		transition: all 0.2s;

		&:hover {
			background-color: #541b8a;
			color: $color-white;
		}
	}
}
// End of Newsletter

// Blog-section
.blog {
	@include super-padding;
	padding-top: 7rem;
	background-color: $color-white;

	.blog-cards {
		@include flex-row;
		justify-content: space-between;
		align-items: center;
		margin: 5rem 0;
	}

	.blog-card {
		width: 24rem;
		text-align: center;

		img {
			width: 100%;
			height: 15rem;
			object-fit: cover;
			margin-bottom: 2rem;
		}

		.heading-blog {
			font-size: 2.2rem;
			margin-bottom: 2rem;
		}

		.blog-date {
			margin: 1rem 0 2rem 0;
			font-weight: 500;
			color: rgb(196, 196, 196);
		}

		.blog-content {
			font-size: 1.8rem;
			line-height: 2.5rem;
			font-weight: 500;
			margin-bottom: 4rem;
		}

		.btn-read {
			background-color: #ffab2d;
			padding: 1.5rem 2.5rem;
			font-weight: 600;
			transition: all 0.2s;

			&:hover {
				background-color: #541b8a;
				color: $color-white;
			}
		}
	}
}
// End of Blog-section

// footer-section
.footer {
	@include super-padding;
	padding-top: 5rem;
	padding-bottom: 5rem;

	.footer-container {
		@include flex-row;
		justify-content: space-between;
		text-align: center;

		.heading-footer {
			margin-bottom: 2rem;
			font-size: 1.5rem;
			font-weight: 800;
			text-transform: uppercase;
		}

		.footer-list {
			font-size: 1.5rem;
			font-weight: 500;

			li {
				margin-bottom: 1rem;
			}
		}

		.footer-follow {
			@include flex-column;
			justify-content: space-between;

			div {
				@include flex-row;
				justify-content: space-between;
			}
		}
	}
}
// End of footer section
